<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="isbnInput">ISBN</label>
    <input type="text" id="isbnInput" class="form-control" formControlName="isbn">

    @if (isInvalid('isbn')) {<div class="feedback-error">Die ISBN ist ungültig.</div>}

    @if (hasError('isbn', 'minlength')) {<div class="feedback-error">Die ISBN ist zu kurz.</div>}
    @if (hasError('isbn', 'maxlength')) {<div class="feedback-error">Die ISBN ist zu lang.</div>}
    @if (hasError('isbn', 'required')) {<div class="feedback-error">Die ISBN muss angegeben werden.</div>}
    @if (hasError('isbn', 'pattern')) {<div class="feedback-error">Die ISBN hat das falsche Format.</div>}

    <!-- Inspiration für Fehlerbehandlung
    <app-form-errors controlName="isbn" [messages]="{ minlength: 'Die ISBN ist zu kurz.' }"></app-form-errors>
    -->

    <pre>{{ bookForm.controls.isbn.errors | json }}</pre>
  </div>

  <div class="form-group">
    <label>Titel</label>
    <input type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label>Preis</label>
    <input type="number" class="form-control" formControlName="price">
  </div>

  <div class="form-group">
    <label>Bewertung</label>
    <input type="number" class="form-control" formControlName="rating">
  </div>

  <button type="submit" class="btn btn-green" [disabled]="bookForm.invalid">Abschicken</button>
</form>

<pre>{{ bookForm.value | json }}</pre>

